.progress-bar{
    width: 0%;
    height: 100%;
    background-color: teal;
}




.progress-bar-container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 5px;
    background: #ddd;

}


header{
    /* background-color: lightgoldenrodyellow; */
    background-color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #ddd;
}
header h1{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 60px;

}
header nav a{
    margin-left: 10px; /*글자 사이의 공간*/
    text-decoration: none;
    color: black;
    line-height: 60px;
    display: inline-block;
    /* background-color: lightblue; */
    padding: 0 10px; /* 칸 크기*/

}

/* 커서 올렸을때 색깔 바뀌는코드 */
header nav a:hover{
    color: tomato;
}

header nav{
    margin-right: 20px;
}
main{
    padding-top: 60px
}

main section{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

main #section1{
    background-color: red;
}
main #section2{
    background-color: purple;
}
main #section3{
    background-color: yellow;
}
main section h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
main section p {
    width: 50%;
    text-align: center;
    line-height: 1.4rem;
}
#top{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#top a{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}