header{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-image: url('../../resources/background.jpg');
    background-size: cover;
    background-position: center;
}

.header-blackbox{
    background-color:rgba(0,0,0,0.3);
    width: 300px;
    height: 100vh;
    position: fixed;
}
.header-content h1{
    text-decoration-line: underline;     
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
    margin-top: 30px;
    text-align: center;
    line-height: 6rem;
    font-size: 50px;
    color: white;
    font-weight: bold;
}
header .header-content ul{
    color: white;
    margin-top: 400px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.header-content li{
    margin-top: 20px;
}
main{
    padding-left: 300px;
}
.main-content h2{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-content{
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.main-content img{
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    align-self: center;
}
.main-content p {
    line-height: 1.6;
}

