ul{
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 0 40px;
}
h1 {
    text-align: center;
}
table{
    margin: 0 auto;
    text-align: center;
}
form{
    text-align: center;
}